:root {
    --grey-bg-color: #D9D9D9;
    --red-bg-color: #FF5555;
}

.search-line__input {
    width: 300px;
    line-height: 50px;
    font-size: 14px;
    border: 1px solid var(--grey-bg-color);
    border-radius: 6px;
    text-indent: 12px;
}

.search-line__input:focus {
    border: 1px solid var(--red-bg-color);
    outline: none;
}