:root {
    --grey-bg-color: #D9D9D9;
    --red-bg-color: #FF5555;
}

.search-line__button {
    background-color: var(--red-bg-color);
    width: 50px;
    height: 50px;
    border: 1px solid var(--red-bg-color);
    border-radius: 6px;
}

.search-line__button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.search-line__button:disabled {
    background-color: var(--grey-bg-color);
    border: 1px solid var(--grey-bg-color);
}