.search-line {
    display: flex;
    justify-content: space-between;
    width: 357px;
    height: 50px;
    margin-top: 20px;
}

.cards-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 357px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 104px;
    margin: 20px 0;
    border: 1px solid var(--grey-bg-color);
    border-radius: 6px;
    align-items: center;
    padding-left: 12px;
}

.card:hover {
    box-shadow: 0px 2px 6px rgba(182, 182, 182, 0.25);
    cursor: pointer;
}