@import '@styles/variables.scss';

.card__content {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.card__repo_info {
    display: flex;
    flex-direction: column;
}

.card__repo_name {
    height: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-overflow: ellipsis
}

.card__company_name {
    height: 16px;
    margin-top: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $grey-text-color;
    text-decoration: none;

    &:hover {
        color: $blue-link-color
    }
}

.card__update_time {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color:$grey-text-color;
    margin: 0 20px;
}

.card__stars {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $grey-text-color;

    svg {
        vertical-align: middle;
    }
}