:root {
    --grey-bg-color: #D9D9D9;
    --red-bg-color: #FF5555;
    --white-bg-color: #FFFFFF;
    --black-text-color: #000000;
    --grey-text-color: #7E7E7E;
    --blue-link-color: #208FBF;
}

* {
    font-family: 'Roboto', sans-serif;
}

.component {
    display: grid;
    grid-template-rows: 90px 1fr;
    justify-content: center;
}

.search-line {
    display: flex;
    justify-content: space-between;
    width: 357px;
    height: 50px;
    margin-top: 20px;
}

.search-line__input {
    width: 300px;
    line-height: 50px;
    font-size: 14px;
    border: 1px solid var(--grey-bg-color);
    border-radius: 6px;
    text-indent: 12px;
}

.search-line__input:focus {
    border: 1px solid var(--red-bg-color);
    outline: none;
}

.search-line__button {
    background-color: var(--red-bg-color);
    width: 50px;
    height: 50px;
    border: 1px solid var(--red-bg-color);
    border-radius: 6px;
}

.search-line__button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.search-line__button:disabled {
    background-color: var(--red-bg-color);
    border: 1px solid var(--red-bg-color);
}

.cards-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 357px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 104px;
    margin: 20px 0;
    border: 1px solid var(--grey-bg-color);
    border-radius: 6px;
    align-items: center;
    padding-left: 12px;
}

.card:hover {
    box-shadow: 0px 2px 6px rgba(182, 182, 182, 0.25);
    cursor: pointer;
}

.card__avatar {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: var(--red-bg-color);
}

.card__repo-img {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.card__repo-letter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: var(--white-bg-color);
}

.card__content {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.card__repo-info {
    display: flex;
    flex-direction: column;
}

.card__repo-name {
    height: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-overflow: ellipsis
}

.card__company-name {
    height: 16px;
    margin-top: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--grey-text-color);
    text-decoration: none;
}

.card__company-name:hover {
    color: var(--blue-link-color)
}

.card__update-time {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--grey-text-color);
    margin: 0 20px;
}

.card__stars {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--grey-text-color);
}

.card__stars > svg {
    vertical-align: middle;
}